/* Base custom rules to guarantee high performance inside the embedded iframe container */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#appFrame {
    display: block;
    width: 100%;
    height: 100%;
}